.button {
    cursor: pointer;
    color: #7926a8;
    font-size: 200%;
    margin-top: 40%;
    padding: 10px;
    border-radius: 10px;
    transition: .4s;
    background-color: #ffffffc0;

}

.button:hover {
    color: #fff;
    background: #7826a883;
}